{%extends 'all-shop/base.html'%}

 {% block content %}

 <div class="container">
    <div class="row">
     <h1>{{image.name}}</h1>
    </div>
           

   <div class="row">
     <img src="{{image.image.url}}"  class="img-responsive" alt="Image" height="250" width="250">
   </div>
   <form action="{% url "cart:cart_add" product.id %}" method="post">
    {% csrf_token %}
    {{ cart_product_form }}
    <input type="submit" value="add to cart" class="btn btn-primary">
</form>
  
   <div class="row">
     <p>{{image.description}}</p>
   </div>
  
    
 </div> 

 {% endblock %}
